-provide(:title,"Home")

div.center.jumbotron
  h1 Welcome to the Minions Store

  h2
    | Here you can buy gorgeous Minion dolls 

  -if user_signed_in?
    = link_to "Check available Minions!", products_path, class: "btn btn-lg btn-primary"
  -else
    = link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary"
