-provide(:title, "Form")

h1 Order created successfully! 

table
  tbody
    tr
      td Order Number
      td = @order.id
    tr
      td Product
      td = @order.product_id
    tr
      td Quantity
      td = @order.quantity
    tr
      td Customer Name
      td = @order.customer_name
    tr
      td Shipping Address 
      td = @order.shipping_address
