-provide(:title, "Form")

h1 Create new order 

= semantic_form_for @order do |f|
  = f.inputs do
    = f.input :quantity, :label => "Quantity", :required => true
    = f.input :customer_name, :label => "Your Name"
    = f.input :shipping_address, :label => "Shipping Address", :required => true
    = f.input :product_id, :as => :hidden, :value => params[:product_id]
  = f.actions :submit
