/* footer */

$font-color: #777;
$link-color: #555;
$link-hover-color: #222;
$border-color: #eaeaea;

/* header */

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $border-color;
  color: $font-color;

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  small {
    float: left;
  }
}
