.thumb-wrapper
  - if product.imagePath
    .img-box
      = image_tag product.imagePath, class: 'img-responsive img-fluid'
  .thumb-content
    h4 = product.description 
    p.item-price
      strike = number_to_currency(product.price, :unit => "$")
      span = number_to_currency(product.price - product.discount, :unit => "$")
    = link_to "Buy it now!", new_order_path(:product => product), class: "btn btn-primary"
