h1 Minions Available 

/ table
/   thead
/     tr
/       th Description
/       th Price
/       th Imagepath
/       th Discount
/       th
/       th
/       th

/   tbody
/     - @products.each do |product|
/       tr
/         td = product.description
/         td = product.price
/         td = product.imagePath
/         td = product.discount
/         td = link_to 'Show', product
/         td = link_to 'Edit', edit_product_path(product)
/         td = link_to 'Destroy', product, data: { confirm: 'Are you sure?' }, method: :delete

/ br

/ = link_to 'New Product', new_product_path


.container
  .row
    .col-md-12
      .carousel.slide data-interval="0" data-ride="carousel" 
        /! Wrapper for carousel items
        .carousel-inner
          .item.carousel-item.active
            .row
              - @products.each do |product|
                  .col-sm-3
                    = render partial: "product_card", locals: {product: product}
