p#notice = notice

p
  strong Description:
  = @product.description
p
  strong Price:
  = @product.price
p
  strong Imagepath:
  = @product.imagePath
p
  strong Discount:
  = @product.discount

=> link_to 'Edit', edit_product_path(@product)
'|
=< link_to 'Back', products_path
