header.navbar.navbar-fixed-top.navbar-inverse
  div.container
    = link_to "Minions Store", root_path, :class => 'logo'
    nav
      ul.nav.navbar-nav.navbar-right
        li = link_to "Home", root_path
        -if user_signed_in?
          | Logged in as
          strong = current_user.email
          li = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
          li = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
        -else
          li = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
          li = link_to "Login", new_user_session_path, :class => 'navbar-link'
