doctype html
html
  head
    title #{yield(:title)} | Minions Store
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = render 'layouts/header'
    div.container
      -if notice
        p.alert.alert-success = notice
      -if alert
        p.alert.alert-danger = alert
      = yield
      = render 'layouts/footer'
